.table {
  border-collapse:separate;
  border-spacing: 0;
  border:solid #a7a7a7 1px;
  border-radius: 3rem;
  background-color: #f7f9ff;
  width: 100%;
  padding: 2rem;
}

.td, .th {
  border-left:solid #a7a7a7 1px;
  border-top:solid #a7a7a7 1px;
}

.th {
  border-top: none;
}

.td:first-child, .th:first-child {
   border-left: none;
}

/* .table {
  background-color: #f7f9ff;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.table-body {
  width: 100%;
}

td {
  border: 1px solid #a7a7a7;
}

.tr {
  padding: 10px;
  border: 1px solid #a7a7a7;
} */

.tr:nth-child(2n) {
  background-color: rgb(226, 232, 249);
}
.tr:hover {
  background-color: rgb(203, 208, 224);
  border-radius: 3rem;
}

/* .th {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray.400;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
} */

.btns-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .td {
    ???;
} */

/* .resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #27bbff;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}
.resizer.isResizing {
  background-color: #2eff31;
  opacity: 1;
}
*:hover > .resizer {
  opacity: 1;
} */
