.btn {
  cursor: pointer;
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;

  background-color: var(--main-color);
  color: var(--background-color);
}
.btn:hover {
  background-color: #6d7ca1;
}
.btn:focus {
  box-shadow: 0 0 0 2px #6d7ca1;
}

.close {
  background-color: var(--warning-color);
  fill: var(--background-color);
  padding: 0 9px;
}
.close:hover {
  background-color: rgb(175, 42, 60);
}
.close:focus {
  box-shadow: 0 0 0 2px rgb(175, 42, 60);
}
