@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

input,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  display: flex;
  width: 260px;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}

.FormLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: rgb(0, 0, 0);
}

.FormMessage {
  font-size: 13px;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 0 0 1px var(--black-a9);
}
.Input:hover {
  box-shadow: 0 0 0 1px black;
}
.Input:focus,
.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 0 0 1px var(--black-a9);
}
.Input:hover {
  box-shadow: 0 0 0 1px black;
}
.Input:focus {
  box-shadow: 0 0 0 2px black;
}
.Input::selection {
  background-color: var(--black-a9);
  color: white;
}
.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}
.Input::selection {
  background-color: var(--black-a9);
  color: white;
}
.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}
