.header {
  height: 75px;
  background-color: #8090bc;
  width: 100%;
  box-shadow: 0 1px 3px 1px rgb(168, 168, 168);
}
.header-items {
  width: 80%;
  background-color: #8090bc;
  height: 70px;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item {
  background-color: #8090bc;
  color: #f6f8ff;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
}
.header-item:active {
  color: #3d3968;
}
.active {
  color: black;
  text-decoration: none;
  background-color: #8090bc;
  font-size: 25px;
  font-weight: bold;
}
