.App {
}
.page{
    margin: 50px 50px 0 50px  ;
    background-color: white;
    height: 1100px;
    border: 2px solid black;
}
.error{
    color: red;
    font-size:30px;
    display:flex;
    justify-content:center
}