* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #8090bc;
  --background-color: #f7f9ff;
  --warning-color: #c83044;
}

body {
  background-color: var(--background-color);
}

h2 {
  background-color: var(--background-color);
}

.optionContainer > li {
  background: white;
  color: black;
}
.option:hover {
  background-color: rgb(226, 232, 249) !important;
  color: black !important;
}
