* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #8090bc;
  --background-color: #fefeff;
  --warning-color: #c83044;
}

html {
  font-size: 60%;
}

body {
  background-color: var(--background-color);
  font-size: 1.8rem;
}

h2 {
  background-color: #f7f9ff;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.optionContainer > li {
  background: white;
  color: black;
}
.option:hover {
  background-color: rgb(226, 232, 249) !important;
  color: black !important;
}